.btn {
  padding: 14px 28px; /* Increased padding */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary {
  background-color: var(--color-primary-500);
  color: var(--color-text-light);
}

.btn-primary:hover {
  background-color: var(--color-primary-600);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:active {
  transform: translateY(0);
  box-shadow: none;
}

.btn-secondary {
  background-color: var(--color-secondary-500);
  color: var(--color-text-light);
}

.btn-secondary:hover {
  background-color: var(--color-secondary-600);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary:active {
  transform: translateY(0);
  box-shadow: none;
}
